.movie-list {
    margin: auto 2rem;
    padding: auto; 
}

.list-title {
font-size: 1.75rem;
margin:  2rem auto;
}

.list-cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}